/*corpo*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #141414;
    color: white;
    max-height: 100vh;
    font-family: Arial, sans-serif;
}
/*cabeçalho*/
header {
    text-align: center;
    margin: auto;
    margin-top: 2vh;
}

header>h1 {
    font-weight: bold;
    font-size: 40px;
}
/*menu de navegação*/
menu {
    float: right;
    margin-right: 10px;
    margin-top: -3.2vh;
}

a {
    background-color: darkblue;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

a:hover {
    background-color: rgb(1, 1, 78);
}


/*principal*/
section {
    margin: 15vh auto;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: darkblue;
    border-radius: 100%;
}

div#horario {
    margin: auto;
    text-align: center;
    line-height: 500px;
    font-size: 80px;
}

/*rodapé*/
footer {
    text-align: center;
}